.head {
  padding: 130px 80px;
  background-image: url('./../../../../../public/assets/Main_img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_block {
  max-width: 500px;
}

.title {
  color: #4c4c4b;
  text-align: center;

  font-size: clamp(2.25rem, 1.62rem + 3.15vw, 4.375rem);
  font-weight: 700;
  margin-bottom: 40px;
}
