.footer {
  background-color: #f3ded7;
  padding: 55px 0 70px;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
}

.footer_middle {
  display: flex;
  flex-direction: column;
  gap: 73px;
}
